# Configuration File Template
# Rename this to .env for local usage

# Port for Flask to run on locally
PORT=5000

# URL where your Ollama API is hosted. 
# Defaults to localhost if not provided.
OLLAMA_API_URL=http://localhost:11434/api
OLLAMA_BASE_URL=http://localhost:11434

# Secret key for Flask sessions
FLASK_SECRET_KEY=super_smart_study_assistant_secret
